.nav {
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
  }

  &__list {
    list-style: none;
    gap: 42px;
    display: flex;
    color: #ffffff;
  }

  &__btn:nth-child(2) {
    background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
    color: #343045;
    border: none;
    transition: 3s;
  }

  &__button {
    display: flex;
    gap: 48px;
  }
}

@media (max-width: 570px) {
  .nav {
    &__list {
      display: none;
    }

    &__btn {
      display: none;
    }
  }
}
